.chart-container {
    position: relative;
    height:40%;
    width:80vw;
    margin: auto;
    /*width: 50%;*/
    /*border: 3px solid green;*/
    background-color: aliceblue;
    padding: 10px;
}

.divider {
    /*position: relative;*/
    margin: 10px;
    padding: 10px;
}

.search_bar {
    position: relative;
    padding: 20px;
}

.hashtag_card {
    max-width: 20%;
    margin: 10px;
}

.hashtag_body {
    position: relative;
    margin: auto;
}